:root{
  --white: #eeeeee;
  --black: #222222;
  --blue: #2c7edc;
  --dark-blue: #00499c;
  --light-blue: #ecf4fe;
  --main-width: 1440px
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

body {
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;

}

#root{
  width: 100%;
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

