#catalog{
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: 0.4s;
    left: -100%;
    top: 0;
    height: 100%;
    width: 400px;
    padding: 20px;
    background-color: white;
    z-index: 10;
}

.catalog-header{
    padding: 16px;
}

.catalog__item{
    display: flex;
    width: 100%;
    padding: 16px;
    margin: 2px;
    text-align: start;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    background-color: white;
    border: 1px solid transparent;
    position: relative;
}

.catalog__item:hover{
    background-color: var(--light-blue);
}

#catalog._active{
    left: 0;
}

.shading{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    background-color: black;
    z-index: -9;
}

.shading.active{
    display: block;
    animation: shade 0.2s linear forwards;
    z-index: 9;
}

@keyframes shade{
    from {opacity: 0}
    to {opacity: 0.5}
}