.profile{
    margin-top: 20px;
}

.profile__block{
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    margin-bottom: 30px;
}

.profile__header{
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 15px;
}

.profile__details{
    margin-bottom: 15px;
}

.profile__details__row{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    width: 600px;
}

.profile__details__col{
    flex: 1;
}

.profile__admin__content{
    display: flex;
    flex-direction: column;
}

.profile__admin__link{
    width: fit-content;
    margin-bottom: 15px;
}

.profile__orders__order{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.order__header{
    display: flex;
    justify-content: space-between;
}

.order__content{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.order__img{
    height: 200px;
}

.order__books{
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.order__link{
    margin-right: 20px;
}

.order__total{
    font-weight: bold;
}