header{
    position: sticky;
    min-height: 103px;
    width: 100%;
    background-color: var(--blue);
    display: block;
}

.header__row{
    height: 100%;
    width: var(--main-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 10px;
}

.header__catalog{
    display: flex;
    gap: 10px;
}

.header__menu{
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}


svg{
    display: block;
}

.header__icon{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    background: none;
}

.header__icon:hover{
    opacity: 0.5;
}

.header__icon svg{
    align-self: center;
}

.logo_link{
    display: flex;
    height: 32px;
    margin-right: auto;
    text-decoration: none;
}

.logo__title{
    color: white;
    align-self: center;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 24px;
}