.modal{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 15px;
    display: none;
    z-index: 12;
    padding: 20px;
}

.modal.active{
    display: block;
}

.modal__header{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.modal__body{
    margin-bottom: 20px;
}

.modal__buttons{
    display: flex;
    justify-content: space-between;
}

.shading.shading-modal{
    z-index: 11;
}

.modal__row{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.modal__col{
    display: flex;
}

.modal__col > *{
    align-self: center;
}

.modal__col > span{
    margin-right: 40px;
}

.modal__input{
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 20px;
    padding: 5px 10px;
    outline: none;
    min-width: 300px;
}

select{
    background-color: white;
    color: #757575;
}

.modal__input__image{
    font-size: 18px;
}