.section{
}

.section__title{

    font-family: Inter, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 1px;
}

.section__link{
    display: inline-block;
    margin: 40px 0;
}

.section__cards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}